.top_nav {
    height: 100px;
    background-color: #fff;

}
.top_img {
    margin-left: 29px;
    margin-top: 46px;
}
.top_l_ul li {
    height: 45px;
    width: 70px;
    text-align: center;
    font-size: 14px;
    float: left;
    padding: 55px 36px 0 40px;
}
.top_l_ul #first{
    margin-left: 26px;
}
.top_l_ul li a {
    color: #787878;
}
.top_l_ul li span {
    border: 4px solid transparent;
    border-top: 3px solid #787878;
    border-bottom: none;
    position: relative;
    top: 10px;
    left: 5px;
}
.top_l_ul li:nth-child(2):hover {
    background-color: #f3f3f1;
}
.top_l_ul li:hover a {
    color: #acd14c;
}
.hidden {
    height: 300px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #ffffff;
    /*display: none;*/
    position: absolute;
}
.hidden_l {
    font-size: 16px;
    font-weight: 700;
    margin: 83px 25px 87px 255px;
    /*display: none;*/
    /*opacity: 0;*/
}
.hidden_l li {
    margin-bottom: 25px;
}
.hidden_l li a {
    color: #acd14c;
}
.hidden_l li:hover a {
    color: rgb(125, 175, 36);
}
.hidden_r {
    margin-right: 196px;
    text-align: center;
    /*display: none;*/
}
.hidden_r li {
    float: left;
    width: 160px;
    margin: 34px 20px;
}
.hidden_r li h3, .hidden_r li p {
    color: #666;
}
.hidden_r li h3 {
    font-weight: 700;
    padding-top: 20px;
}
.hidden_r li p {
    padding-top: 10px;
    font-style: italic;
}
/*



*/
.top_r {
    position: relative;
}
.top_r_ul i {
    display: inline-block;
    margin-right: 10px;
    color:  #a5cf4c;
}
.top_r_ul li {
    float: left;
    height: 23px;
    margin-top: 16px;
    margin-right: 16px;
}
.top_r_ul li:hover a {
    color: rgb(125, 175, 36);
}
.top_r_ul li:last-child i{
    margin-right: 20px;
}
.top_r_ul #top_r_top {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url("../images/5.gif");
    position: absolute;
    top: 12px;
    right: 54px;
}
.top_r_ul li a {
    color: #a5cf4c;
}
.top_r input {
    border-bottom: 3px solid #cbcbcb;
    width: 240px;
    height: 28px;
    margin-left: 40px;
    margin-top: 15px;
    color: #999;
}
.top_r #top_r_bot {
    display: inline-block;
    height: 22px;
    width: 22px;
    background: url("../images/4.png");
    position: absolute;
    right: 30px;
    top: 54px;
}
