
/*S==轮播图*/
.all {
    width: 1345px;
    height: 500px;
    padding: 0 2px 2px 2px;
    margin: 0 auto;
    position: relative;
}

.all img {
    width: 1345px;
    height: 500px;
}

.screen {
    width: 1345px;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.screen li {
    width: 1345px;
    height: 500px;
    overflow: hidden;
    float: left;
}

.screen ul {
    position: absolute;
    left: 0;
    top: 0px;
    width: 1000%;
}

.all ol {
    position: absolute;
    right: 620px;
    bottom: 10px;
    line-height: 20px;
    text-align: center;
}

.all ol li {
    float: left;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #ccc;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 20px;
}

.all ol li.current {
    background: #0088CC;
}

#arr {
    display: none;
}

#arr span {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -20px;
    background: #000;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-family: '微软雅黑';
    font-size: 30px;
    color: #fff;
    opacity: 0.3;
    border: 1px solid #fff;
}

#arr #right {
    right: 5px;
    left: auto;
}
/*E==i轮播图 */

/*S==product*/
.product {
    width: 100%;
    background-color: #c0c0c0;
}
.product ul li {
    float: left;
    width: 310px;
    height: 340px;
    text-align: center;
    border: 2px solid transparent;
}
.product ul img{
    width: 180px;
    height: 180px;
    margin-top: 30px;
}
.product ul li h4 {
    margin-top: 20px;
    height: 29px;
    font-size: 16px;
    font-weight: 700;
    color: #666;
}
.product_sp1, .product_sp2 {
    display: inline-block;
    height: 38px;
    width: 108px;
    line-height: 38px;
    /*display: none;*/
    opacity: 0;
}
.product_sp1 {
    border: 2px solid #666;
}
.product_sp2 {
    background-color: #2097d0;
    border: 2px solid transparent;
    color: #fff;
}
/*E==product*/